* {
    list-style:none;
}
.container{
    width: 1200px;
    margin: auto;
}
.content-ul{
    border-radius: 5px;
    border: 1px solid#ecedee;
}
.content-li{
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    border-bottom: 1px solid#ecedee;
}
.form-group{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.ml-15{
    margin-left: 15px;
}